/* body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
} */

#dark .menuObject{
  filter: invert(100%);
}
#dark .menuObject:hover{
  filter: invert(0%);

}
.list-group-item {
  border: 0px;
  background-color: transparent;
}
.list-group-item:hover {
  background-color: lightgray;
}
